# Auto detect text files and perform LF normalization
*        text=auto

*.cs     text diff=csharp

*.csproj text merge=union
*.sln    text merge=union eol=crlf

## Unity ##
*.meta merge=unityyamlmerge eol=lf
*.prefab filter=lfs diff=lfs merge=lfs eol=lf -text
*.unity filter=lfs diff=lfs merge=lfs eol=lf -text