<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:targetSandboxVersion="2" package="com.finoldigital.cardgamesim" xmlns:tools="http://schemas.android.com/tools" android:installLocation="auto">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
  <application android:theme="@style/UnityThemeSelector" android:icon="@drawable/app_icon" android:label="@string/app_name" android:isGame="true" android:name="io.branch.unity.BranchUnityApp">
    <activity android:name="com.unity3d.player.UnityPlayerActivity" android:label="@string/app_name" android:screenOrientation="fullSensor" android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <data android:scheme="cardgamesim" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <intent-filter>
        <data android:host="open" android:scheme="cardgamesim" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="cgs.link" />
        <data android:scheme="https" android:host="cardgamesim-alternate.app.link" />
        <data android:scheme="https" android:host="cardgamesim.finoldigital.com" />
      </intent-filter>
    </activity>
    <meta-data android:name="default-url" android:value="https://cardgamesim.finoldigital.com/" />
    <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_mnzYrzoSgtqi3gAyzkVzqppkxFnNY1jn" />
    <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_oez3AweOkBwlZaqsxiJvCgmawslU9R0Z" />
    <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>