---
---

@import "{{ site.theme }}";
html {background-color: #f2f2f2;}
.inner {min-width: 640px;}
#header_wrap {background: #432E16;}
header img {border: 0; box-shadow: none;}
h1 a {color: white;}
#footer_wrap {background: #432E16;}
