---
---

@import "{{ site.theme }}";
html {background-color: #f2f2f2;}
.outer {min-width: max-content;}
.inner {min-width: 640px;}
#header_wrap {background: #432E16;}
header img {border: 0; box-shadow: none;}
h1 a {color: white;}
#footer_wrap {background: #432E16;}

pre {
  margin: 0;
}
button{
  color: #272822;
  background-color: #FFF;
  border-color: #272822;
  border: 2px solid;
  border-radius: 3px 3px 0px 0px;
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: -2px;
  padding: 3px 8px;
  font-size: 0.8em;
}
button:hover{
  cursor:pointer;
  background-color:#bcbabb;
}
button:focus {
  background-color: #E6E6E6;
  outline: 0;
}
button:active {
  background-color: #D9D9D9;
}
